@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@media (min-width: 992px) {
    nav {
        width: 15rem; 
        height: 100vh;
        .navbar-brand {
            display: none;
          }
         .profile {
            img {
                border: 5px solid white;
            }
            h2 {
                font-family: 'Odibee Sans', cursive;
                font-size: 2rem;
            }
         } 
    }
}
#content{
    margin-left: 15rem;
}